<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flow"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"devadigm/hero"} /-->

<!-- wp:pattern {"slug":"devadigm/services"} /-->

<!-- wp:pattern {"slug":"devadigm/about"} /-->

<!-- wp:pattern {"slug":"devadigm/team"} /-->

<!-- wp:pattern {"slug":"devadigm/cta"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
