<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"section","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|96"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group section" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--96)"><!-- wp:post-title {"level":1,"fontSize":"heading-lg","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|36"}}}} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
